html, body {
    height: 100%;
    width: 100%;
    font-size: .28rem;
    font-family: Dengxian,"Helvetica Neue",Helvetica,STHeiTi,sans-serif,'Microsoft YaHei UI','Microsoft YaHei';
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.ruleBackground {
    position: absolute;
    max-width: 3200px;
    max-height:5680px;
}
#rule_return {
	position: absolute;
	z-index: 2;
	left: 20%;
	
}

#big_return_button {
    opacity: 0;
    position: absolute;
}
