/**
 * Created by guoshencheng on 7/7/15.
 */

html, body {
    height: 100%;
    width: 100%;
    font-size: .28rem;
    font-family: Dengxian,"Helvetica Neue",Helvetica,STHeiTi,sans-serif,'Microsoft YaHei UI','Microsoft YaHei';
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

div {
    position:absolute;
}

#wx_face_function_background {
    max-width: 4140px;
    max-height: 7360px;
}

.container-div {
    text-align: center;
    opacity: 0;
}

.crop-view {
    position: absolute;
    z-index: 1;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.mask_image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    display: none;
}

.no-image-tip {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.upload-button {
    color: initial;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    left: 0px;
    border-radius: 50%;
    background: #f2f2f2;
    border: 0 none;
    pointer-events:none;
}

.real-upload-button {
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    opacity: 0;
}

.zoom-control {
    position: absolute;
    width: 20rem;
    height:8rem;
    left:8rem;
}

.line {
    position: absolute;
    background: #ac8059;
    top: 0px;
    width: 100%;
    height: 2px;
}

.dragable {
    position: absolute;
    background: #ac8059;
    top: -4px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    border: 0 none;
}

.confirm-button {
    border-radius: 5px;
    border: 0 none;
    position: absolute;
    left: 0px;
    width: 45%;
    height: 80%;
}

.reUpload-button {
    border-radius: 5px;
    border: 0 none;
    position: absolute;
    right: 0px;
    width: 45%;
    height: 80%;
}

.real-reUpload-button {
    position: absolute;
    width: 45%;
    height: 100%;
    right: 0px;
    opacity: 0;
}