<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes">
        <title>rule</title>
		<link rel="stylesheet" type="text/css" href="css/rule.css" />
	</head>
	<body>
        <img id="ruleBackground" src="img/rule.jpg" />
		<input type="image" src="img/return.png" id="rule_return"  />
		<script src="js/rule.js" ></script>
	</body>
</html>