<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes">
        <title>你结婚之后靠什么吃饭</title>
        <link rel="stylesheet" type="text/css" href="css/rule.css" />
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>
            var wxConfig = {
                debug: false,
                appId: '$!{appId}',
                timestamp: $!{timestamp},
                nonceStr:  '$!{nonceStr}',
                signature: '$!{signature}',
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
            };
            wx.config(wxConfig);
            wx.ready(function () {
                var cfg = {
                    title: '测一测你结婚后靠啥吃饭！据说颜值越高越有机会赢百雀羚500元免单？！',
                    link: 'http:///ws.winchance870.com/goodface/TakePhotoView.htm',
                    imgUrl: 'http://ws.winchance870.com/goodface/img/defaultAvatarImage.png'
                };
                wx.onMenuShareTimeline(cfg);
                wx.onMenuShareAppMessage(cfg);
            });
        </script>
    </head>
    <body>
        <img id="ruleBackground" src="img/rule.jpg" />
        <input type="image" src="img/return.png" id="rule_return"  />
        <input type="image" id="big_return_button"/>
        <script src="js/rule.js" ></script>
    </body>
</html>