<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/TakePhotoView.css"/>
    <script src="js/exif.js"></script>
    <script src="js/binaryajax.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes">
    <title></title>

</head>
<body>
<div class="container-div" id="container-div">
    <div class="crop-view" id="crop-view">
        <canvas id="canvas">

        </canvas>
        <img src="img/mask.png" id="mask_image" class="mask_image" alt=""/>

        <div class="no-image-tip">
            <input id="real-upload-button" type="file" class="real-upload-button" onchange="loadUpLoadImage()"/>
            <input type="image" src="img/takephoto_camera_button.png" id="upload-button" class="upload-button"/>
        </div>
    </div>
    <div class="zoom-control" id="zoom-control">
        <div class="line" id="line">
        </div>
        <div class="dragable" id="dragable">
        </div>
    </div>
    <div class="button-area" id="button-area">
        <input type="image" src="img/confirm_button.png" class="confirm-button" id="confirm-button"/>
        <input type="image" src="img/re_upload_button.png" class="reUpload-button" id="reUpload-button"/>
        <input type="file" class="real-reUpload-button" id="real-reUpload-button"
               onchange="reloadUpLoadImage()"/>
    </div>
</div>
<img src="img/wxFaceFunctionBackground.png" id="wx_face_function_background"/>
<script src="js/TakePhotoView.js"></script>
</body>
</html>
