<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/TakePhotoView.css"/>
    <script src="js/exif.js"></script>
    <script src="js/binaryajax.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes">
    <title>你结婚之后靠什么吃饭</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var wxConfig = {
            debug: false,
            appId: '$!{appId}',
            timestamp: $!{timestamp},
            nonceStr:  '$!{nonceStr}',
            signature: '$!{signature}',
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage']
        };
        wx.config(wxConfig);
        wx.ready(function () {
            var cfg = {
                title: '测一测你结婚后靠啥吃饭！据说颜值越高越有机会赢百雀羚500元免单？！',
                link: 'http:///ws.winchance870.com/goodface/TakePhotoView.htm',
                imgUrl: 'http://ws.winchance870.com/goodface/img/defaultAvatarImage.png'
            };
            wx.onMenuShareTimeline(cfg);
            wx.onMenuShareAppMessage(cfg);
        });
    </script>
</head>
<body>
<div class="container-div" id="container-div">
    <div class="crop-view" id="crop-view">
        <canvas id="canvas">

        </canvas>
        <img src="img/mask.png" id="mask_image" class="mask_image" alt=""/>

        <div class="no-image-tip">
            <input id="real-upload-button" type="file" class="real-upload-button" onchange="loadUpLoadImage()"/>
            <input type="image" src="img/takephoto_camera_button.png" id="upload-button" class="upload-button"/>
        </div>
    </div>
    <div class="zoom-control" id="zoom-control">
        <div class="line" id="line">
        </div>
        <div class="dragable" id="dragable">
        </div>
    </div>
    <div class="button-area" id="button-area">
        <input type="image" src="img/confirm_button.png" class="confirm-button" id="confirm-button"/>
        <input type="image" src="img/re_upload_button.png" class="reUpload-button" id="reUpload-button"/>
        <input type="file" class="real-reUpload-button" id="real-reUpload-button"
               onchange="reloadUpLoadImage()"/>
    </div>
</div>
<img src="img/wxFaceFunctionBackground.png" id="wx_face_function_background"/>
<script src="js/cookie.js"></script>
<script src="js/TakePhotoView.js"></script>
</body>
</html>
