<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"         xmlns="http://java.sun.com/xml/ns/javaee"         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"         version="2.5">
  <display-name>GoodFace Server</display-name>
  <context-param>    <param-name>contextConfigLocation</param-name>    <param-value>      classpath*:com/winchance/wechat/goodface/server/*/resource/spring-*.xml,      classpath*:com/winchance/*/resource/spring-*.xml,      classpath*:com/soa/resource/spring-xfire-interation-base.xml    </param-value>  </context-param>
  <listener><!-- Spring ApplicationContext载入 -->    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  </listener>  <filter>    <filter-name>encodingFilter</filter-name>    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>    <init-param>      <param-name>encoding</param-name>      <param-value>UTF-8</param-value>    </init-param>  </filter>  <filter-mapping>    <filter-name>encodingFilter</filter-name>    <url-pattern>/*</url-pattern>  </filter-mapping> 
  <servlet>    <servlet-name>RestletServlet</servlet-name>    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>    <init-param>      <param-name>org.restlet.application</param-name>      <param-value>com.winchance.wechat.goodface.server.web.MobileApplication</param-value>    </init-param>  </servlet>
  <servlet-mapping>    <servlet-name>RestletServlet</servlet-name>    <url-pattern>/api/*</url-pattern>  </servlet-mapping>  <servlet>    <servlet-name>wechat</servlet-name>    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>    <load-on-startup>0</load-on-startup>  </servlet>  <servlet-mapping>    <servlet-name>wechat</servlet-name>    <url-pattern>*.htm</url-pattern>  </servlet-mapping>  <servlet-mapping>    <servlet-name>wechat</servlet-name>    <url-pattern>*.html</url-pattern>  </servlet-mapping>  <session-config>    <session-timeout>30</session-timeout>  </session-config>  <welcome-file-list>    <welcome-file>index.html</welcome-file>  </welcome-file-list></web-app>
